$smalt: #0033a0;
$blue-zodiac: #0e1941;
$vivid-tangerine: #FC9983;
$wild-sand: #f5f5f5;
$trout: #505868;
$burnt-sienna: #ED7766;
$mystic: #E4E9ED;
$picton-blue: #45BCE5;
$link-water: #f2f6fb;
$boulder: #757575;

$primary: $smalt;

$colors: (
    'primary': $primary,
    'blue-zodiac': $blue-zodiac
);
