.block-about {
    max-width: 1440px;
    margin: 0 auto;

    &__top,
    &__bottom {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
    }

    &__top-left {
        background-color: $mystic;
        padding: 2rem;

        @include media-breakpoint-up(md) {
            padding: 3rem 5rem;
        }

        @include media-breakpoint-up(lg) {
            width: 64%;
        }
    }

    &__top-right {
        background-color: $blue-zodiac;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 6rem;

        @include media-breakpoint-up(lg) {
            width: 36%;
        }
    }

    &__top-logo {
        max-width: 184px;
    }

    &__title {
        @include font-size(32px);

        @include media-breakpoint-up(md) {
            @include font-size(48px);
        }

        span {
            color: $primary;
        }
    }

    &__text {
        @include font-size(16px);
        margin-top: 8px;
        line-height: normal;

        @include media-breakpoint-up(md) {
            @include font-size(20px);
        }
    }

    &__more {
        @include font-size(20px);
        font-weight: 500;
    }

    &__bottom-left {
        background-color: $picton-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;

        @include media-breakpoint-up(lg) {
            width: 36%;
        }
    }

    &__bottom-right {
        background-color: $primary;
        display: flex;
        align-items: center;
        padding: 40px;

        @include media-breakpoint-up(lg) {
            width: 64%;
        }
    }

    &__bottom-logo {
        max-width: 200px;
        width: 100%;

        @include media-breakpoint-up(md) {
            max-width: 300px;
        }
    }

    &__bottom-text {
        @include font-size(26px);
        font-weight: 500;
        width: 100%;
        text-align: right;
        color: $white;

        @include media-breakpoint-up(md) {
            @include font-size(36px);
        }

        span {
            color: $picton-blue;
        }
    }
}
