.hero {
    height: 352px;
    display: flex;
    background-color: $blue-zodiac;
    background-image: url('../../img/hero-bg.png');
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    overflow: hidden;

    &__inner {
        position: relative;
        height: 100%;
        padding: 78px 0;
    }

    &__img {
        position: absolute;
        height: 500px;
        right: -10%;
        bottom: -30%;
    }

    &__title {
        @include font-size(60px);
        color: $white;
        font-weight: 500;

        span {
            color: $vivid-tangerine;
        }
    }

    &__sub-title {
        @include font-size(20px);
        line-height: 1.4;
        color: $white;
        margin-top: 24px;
    }
}
